/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define FN  1

/ {
    combos {
        compatible = "zmk,combos";

        RCtrl+RShift-Layer2 {
            bindings = <&to 2>;
            key-positions = <45 51>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // | ESC  |  1   |  2   |  3   |  4   |  5   |                                                   |  6   |  7   |  8   |  9   |  0   | BSPC |
            // | WIN  |  Q   |  W   |  E   |  R   |  T   |                                                   |  Y   |  U   |  I   |  O   |  P   | EQL  |
            // | TAB  |  A   |  S   |  D   |  F   |  G   |                                                   |  H   |  J   |  K   |  L   | SCLN | QUOT |
            // | LCTL |  Z   |  X   |  C   |  V   |  B   |      | CTL  | ALT  |         | CAPS | CTL  |      |  N   |  M   | COMM | DOT  | SLSH | MINS |
            //        | GRV  | BSLS | LEFT | RGHT |      | SHFT |  FN  | HOME |         | PGUP | ENT  | SPC  |      |  UP  |  DN  | LBKT | RBKT |
            //                                                         | END  |         | PGDN |

            bindings = <
&kp EQUAL       &kp N1     &kp N2      &kp N3    &kp N4     &kp N5                                                                                 &kp N6  &kp N7  &kp N8     &kp N9      &kp N0     &kp MINUS
&kp TAB         &kp Q      &kp W       &kp E     &kp R      &kp T                                                                                  &kp Y   &kp U   &kp I      &kp O       &kp P      &kp BACKSLASH
&kp ESCAPE      &kp A      &kp S       &kp D     &kp F      &kp G                                                                                  &kp H   &kp J   &kp K      &kp L       &kp SEMI   &kp SQT
&kp LEFT_SHIFT  &kp Z      &kp X       &kp C     &kp V      &kp B                  &kp LCTRL  &kp LEFT_WIN    &kp RIGHT_ALT  &kp RCTRL             &kp N   &kp M   &kp COMMA  &kp PERIOD  &kp SLASH  &kp RIGHT_SHIFT
                &kp GRAVE  &kp DELETE  &kp LEFT  &kp RIGHT          &kp BACKSPACE  &mo 1      &kp HOME        &kp PG_UP      &kp ENTER  &kp SPACE          &kp UP  &kp DOWN   &kp LBKT    &kp RBKT
                                                                                              &kp END         &kp PG_DN
            >;
        };

        fn_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |BT_CLR|  F1  |  F2  |  F3  |  F4  |  F5  |                                                   |      | NLCK |  =   |  /   |  *   |      |
            // |      |  F6  |  F7  |  F8  |  F9  |  F10 |                                                   |      |  7   |  8   |  9   |  -   |      |
            // |      |      |      |      |      |      |                                                   |      |  4   |  5   |  6   |  +   |      |
            // |      |      |      |      |      | PTSC |      |      |      |         |      |      |      |      |  1   |  2   |  3   | ENT  |      |
            //        |      | INS  |      |      |      |      |  FN  |      |         |      |      |      |      |      |      |  .   | ENT  |
            //                                                         |      |         |      |

            bindings = <
&trans        &kp F1   &kp F2   &kp F3   &kp F4           &kp F5                                                                                 &trans     &trans        &trans   &trans      &trans        &trans
&trans        &kp F6   &kp F7   &kp F8   &kp F9           &kp F10                                                                                &kp CARET  &kp N7        &kp N8   &kp N9      &kp PLUS      &trans
&kp CAPSLOCK  &kp F11  &kp F12  &kp INS  &kp PRINTSCREEN  &trans                                                                                 &kp EQUAL  &kp N4        &kp N5   &kp N6      &kp MINUS     &trans
&mo 2         &trans   &trans   &trans   &trans           &trans           &kp LEFT_ALT  &trans    &kp C_MENU  &kp RA(RC(SPACE))                 &trans     &kp N1        &kp N2   &kp N3      &kp ASTERISK  &trans
              &trans   &trans   &trans   &trans                    &trans  &trans        &trans    &trans      &kp RA(LS(SPACE))  &kp LC(LS(V))             &kp NUMBER_0  &kp DOT  &kp RETURN  &kp SLASH
                                                                                         &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                                    &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                                    &trans  &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                                                    &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans    &trans  &trans          &trans  &trans     &trans     &trans     &trans  &trans
        &trans  &trans  &trans  &trans          &trans  &trans  &trans    &trans  &trans  &trans          &trans     &trans     &trans     &trans
                                                                &trans    &trans
            >;
        };
    };
};
